html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    background-image: url("webpage_background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Glacial Indifference', Futura, sans-serif;
}

.nav {
    background-color: rgba(180, 130, 70, 0.7);
    width: 100%;
    height: 10dvh;
    margin: 0 auto;

    position: relative;
}

.nav img{
    width: auto;
    height: 7vh;
    
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 1.5vh;
}


.nav-links p {
    margin: 0;
    padding: 1vh 1.5vw;

    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: clamp(12px, 1.2vw, 18px);

    border-radius: 8px;
    cursor: pointer;

    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;

    transition: border-color 1s ease, background-color 1s ease;
}

.nav-links p:hover {
    border-top-color: white;
    border-bottom-color: white;
    background-color: rgba(255, 255, 255, 0.15);
}

.nav-links {
    position: absolute;
    right: 3vw;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    gap: 2vw;
}

.body1 {
    position: relative;
    height: 90dvh;
}

.body1 h1 {
    text-transform: uppercase;
    text-transform: uppercase;
    font-weight: bold;
    color: white;

    font-size: clamp(24px, 2vw, 60px);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}


@media (max-width: 600px) {
    .nav-links {
        right: 10px;
        gap: 5px;
    }

    .nav-links p {
        font-size: 11px;
        padding: 5px 8px;
    }
}